# ĐỒ ÁN CUỐI KỲ MÔN LẬP TRÌNH CHO KHOA HỌC DỮ LIỆU

#### Họ và tên: Nguyễn Thành Đạt

#### MSSV: 1712331

---

## Nguồn lấy dữ liệu

 - Dữ liệu phục vụ cho đồ án lấy từ [kaggle](https://www.kaggle.com/tahminashoaib86/global-cause-of-the-deaths-other-than-diseases)
 
 - Dữ liệu được truy cập hoàn toàn miễn phí.
 
---
 
## Mô tả

 - Dữ liệu là một phần của dự án Global Disease Burden 2017.

 - Dữ liệu bao gồm số lượng người chết trong mỗi nước qua các năm cùng với các nguyên nhân được phân loại gồm: xung đột và khủng bố (conflict and terrorism), nạn đói (famine), đại dịch (pandemic), thảm họa tự nhiên (natural disaster) và các nguyên nhân khác (Other injuries).
 
 - Không tính số lượng thương vong xảy ra do bệnh tật.

---


## Import thư viện

In [1]:
import pandas as pd

---

## Khám phá dữ liệu

#### Load dữ liệu

In [9]:
df = pd.read_csv('Caused_of_Deaths.csv', engine='python')
df.head()

,Country,ISO_CODE,Year,Deaths,Cause,Male POP,Female POP,Total Pop,GDP,PCAP
0,Afghanistan,AFG,1980,35000,Conflict and Terrorism,6788279.0,6568232.0,13356511.0,3.641723e+09,272.655286
1,Albania,ALB,1980,0,Conflict and Terrorism,1371795.0,1300202.0,2671997.0,NaN,NaN
2,Algeria,DZA,1980,0,Conflict and Terrorism,9682121.0,9539544.0,19221665.0,4.234528e+10,2202.997365
3,American Samoa,ASM,1980,0,Conflict and Terrorism,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,1980,5882,Conflict and Terrorism,4226098.0,4115191.0,8341289.0,5.930503e+09,710.981648

#### Tổng quan về dữ liệu

In [4]:
df.shape

(36860, 10)

Dữ liệu gồm:
 - 36860 dòng
 - 10 cột

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36860 entries, 0 to 36859
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     36860 non-null  object
 1   ISO_CODE    36860 non-null  object
 2   Year        36860 non-null  int64
 3   Deaths      36860 non-null  int64
 4   Cause       36860 non-null  object
 5   Male POP    28156 non-null  float64
 6   Female POP  28156 non-null  float64
 7   Total Pop   28156 non-null  float64
 8   GDP         26332 non-null  float64
 9   PCAP        26320 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 2.8+ MB

Nhận xét: Các cột đều chứa giá trị (không có giá NULL)

In [6]:
df.describe()

,Year,Deaths,Male POP,Female POP,Total Pop,GDP,PCAP
count,36860.000000,36860.000000,2.815600e+04,2.815600e+04,2.815600e+04,2.633200e+04,26320.000000
mean,1998.500000,247.950027,1.615312e+07,1.592458e+07,3.207770e+07,2.231626e+11,8485.748803
std,10.966005,4080.560011,6.253971e+07,5.903292e+07,1.215569e+08,1.026739e+12,14017.964799
min,1980.000000,0.000000,2.922900e+04,3.007200e+04,5.930100e+04,3.102000e+07,94.564731
25%,1989.000000,0.000000,1.004304e+06,1.015241e+06,2.018122e+06,2.606621e+09,780.365369
50%,1998.500000,0.000000,3.345875e+06,3.350894e+06,6.711121e+06,1.230247e+10,2474.231146
75%,2008.000000,3.000000,1.011918e+07,1.016909e+07,2.024687e+07,7.843658e+10,9422.852726
max,2017.000000,503532.000000,7.116872e+08,6.747078e+08,1.386395e+09,1.948539e+13,118823.648369

#### Mô tả về các cột dữ liệu
 
| Tên cột    | Mô tả                                                                                                                                                                                                          |
|:------------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Country    | Tên của các nước                                                                                                                                                                                               |
| ISO_CODE   | Mã hiệu mỗi quốc gia (3 ký tự)                                                                                                                                                                                 |
| Year       | Năm ghi nhận số liệu                                                                                                                                                                                           |
| Deaths     | Số lượng người tử vong                                                                                                                                                                                         |
| Cause      | Nguyên nhân tử vong (được phân loại theo: xung đột và khủng bố (conflict and terrorism), nạn đói (famine), đại dịch (pandemic), thảm họa tự nhiên (natural disaster) và các nguyên nhân khác (Other injuries)) |
| Male POP   | Dân số nam                                                                                                                                                                                                     |
| Female POP | Dân số nữ                                                                                                                                                                                                      |
| Total Pop  | Tổng dân số                                                                                                                                                                                                    |
| GDP        | Tổng sản phẩm quốc nội (tính theo USD)                                                                                                                                                                         |
| PCAP       | Thu nhập bình quân đầu người (tính theo USD)                                                                                                                                                                   |

---

## Tiền xử lý dữ liệu

#### Loại những cột không quan tâm đến

In [10]:
dropped_columns = ['ISO_CODE', 'Male POP', 'Female POP']

df = df.drop(columns=dropped_columns)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36860 entries, 0 to 36859
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    36860 non-null  object
 1   Year       36860 non-null  int64
 2   Deaths     36860 non-null  int64
 3   Cause      36860 non-null  object
 4   Total Pop  28156 non-null  float64
 5   GDP        26332 non-null  float64
 6   PCAP       26320 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 2.0+ MB

---

## Các câu hỏi cần trả lời

 - Câu 1:
 
 - Câu 2:
 
 - Câu 3:
 
---

### Câu 1

### Câu 2

### Câu 3

---

## Nguồn tham khảo